@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  background-color: #1C1C1C;
  padding: 8%;
  padding-top: 7px;
  padding-bottom: 5px;
  background-color: #1f2833;
}
h1 {
  color: #66FCF1;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  width: 100%;
  font-weight: 670;
  font-size: 80px;
  margin-top: none;
  margin-bottom: 50px;
  text-shadow:0 1px 3px #66FCF1;
}
h2{
  color: #45A29E;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 60px;
}
h3{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size:40px;
}

a{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  display: block;
}
#about ul{
  text-align: center;
  list-style-type: none;
  max-width: 190px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 20px;
  border-radius: 25px;
  border-color: white;
  transition: transform 0.6s;
}

ul{
  text-align:center;
  margin: auto;
}
#main{
  /*background: darkblue;*/
  display: flex;
  padding: 2px;
  max-width: 270px;
  min-width: 100px;
  border-radius: 5px;
  align-content: center;
  margin: auto;
}
#about{
  background: #C5C6C7;
  align-content: center;
  padding: 30px;
  padding-bottom: 50px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin: auto;
  max-width: fit-content;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.795);
}

#projects{
  align-content: center;
  padding:30px;
  margin: auto;
  max-width: fit-content;
  margin-bottom: 50px;
}

#project{
  background: #C5C6C7;
  align-content: center;
  padding:40px;
  margin: auto;
  max-width: fit-content;
  margin-top: 70px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.795);
}

#projects p{
  text-align: center;
  list-style-type: none;
  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

#about p{
  text-align: center;
  max-width: 600px;
  align-items: center;
  display:block;
  margin: auto;
  font-size: 20px;
  padding: 5px;
  padding-bottom: 0.01px;
  border-radius: 25px;
  transition: transform 0.6s;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
