@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  padding: 8%;
  padding-top: 7px;
  padding-bottom: 5px;
  background-color: #212121;
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  color: #66FCF1;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  width: 100%;
  font-weight: 670;
  font-size: 80px;
  margin-top: none;
  margin-bottom: 50px;
  text-shadow:0 1px 3px #66FCF1;
}
h2{
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 60px;
}
h3{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size:40px;
}

a{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  display: block;
}
#about ul{
  text-align: center;
  list-style-type: none;
  max-width: 190px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 20px;
  border-radius: 25px;
  border-color: white;
}

ul{
  text-align:center;
  margin: auto;
}
#main{
  /*background: darkblue;*/
  display: flex;
  padding: 2px;
  max-width: 270px;
  min-width: 100px;
  border-radius: 5px;
  align-content: center;
  margin: auto;
}
#about{
  align-content: center;
  padding: 30px;
  padding-bottom: 50px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin: auto;
  max-width: fit-content;
  border-radius: 5px;
}

#projects{
  align-content: center;
  padding:30px;
  margin: auto;
  max-width: fit-content;
  margin-bottom: 70px;
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#project{
  background: #C5C6C7;
  align-content: center;
  padding:40px;
  margin: auto;
  max-width: fit-content;
  margin-top: 70px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.795);
}

#projects p{
  text-align: center;
  list-style-type: none;
  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

#about p{
  text-align: center;
  max-width: 600px;
  align-items: center;
  display:block;
  margin: auto;
  font-size: 20px;
  padding: 5px;
  padding-bottom: 0.01px;
  border-radius: 25px;
  font-family: 'Ubuntu', sans-serif;
}

.package {
  flex: 1 1 400px;
  max-width: 500px;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  margin: 30px;
  box-sizing: border-box;
  align-items: center;
}

.package:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
  background-color: #1d1724;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 30px;
  cursor: pointer;
  
}

.package2:hover {
  transform: scale(0.98);
  border-radius: 18px;
}

.text {
  color: white;
}
